.template-collection {
    display: none;
}

.button {
    display: block;
    padding: 3px 5px;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
    box-shadow: rebeccapurple 1px 1px 2px 0;
    background-color: snow;
    font-family: Arial;
    font-size: 18px;
    color: rebeccapurple;
    text-decoration: none;
    outline: none;
}

.button:hover {
    background-color: #d6c6e6;
}

.button:active {
    box-shadow: inset rebeccapurple 1px 1px 2px 0;
}

.hotel-search-wrapper {
    display: inline-block;
    min-width: 650px;
    max-width: 50%;
}

.hotel-searchbar {
    display: block;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: rebeccapurple 1px 1px 3px 0;
}

.hotel-searchbar .hotel-searchbar__header {
    padding: 0 0 10px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: rebeccapurple;
}

.hotel-searchbar .hotel-searchbar__field {
    padding: 3px 2px;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
    box-shadow: inset rebeccapurple -1px -1px 2px 0px;
    font-size: 18px;
    color: rebeccapurple;
}

.hotel-searchbar .hotel-searchbar__field.hotel-searchbar__field_star-rate {
    padding-right: 3px;
    padding-left: 10px;
    width: 50px;
    box-sizing: border-box;
    text-align: center;
}

.hotel-searchbar .hotel-searchbar__srch-btn {
    display: inline-block;
}

.hotel-searchresults {
    display: block;
    margin-top: 10px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: rebeccapurple 1px 1px 3px 0;
}

.hotel-searchresults .hotel-searchresults__header {
    padding: 0 0 10px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: rebeccapurple;
}

.hotel-searchresults .hotel-searchresults__collection {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.hotel-searchresults-item {
    display: block;
    overflow: hidden;

    margin-top: 15px;
    /*height: 100px;*/
    padding: 10px 20px;
    box-shadow: rebeccapurple 1px 1px 4px 0;
}

.hotel-searchresults-item:first-child {
    margin-top: 0;
}

.hotel-searchresults-item .hotel-searchresults-item__name {
    display: block;
    margin: 0;
    border-bottom: 1px solid rebeccapurple;
    padding: 0 0 5px 10px;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: rebeccapurple
}

.hotel-searchresults-item .hotel-searchresults-item__desc {
    display: block;
    min-height: 1.2em;
    max-height: 2.4em;
    line-height: 1.2em;
    margin: 10px 0;
    box-sizing: content-box;
    overflow: hidden;
    color: dimgrey;
}

.hotel-searchresults-item .hotel-searchresults-item__stars {
    float: left;
}

.hotel-searchresults-item .hotel-searchresults-item__details-btn {
    float: right;
    color: snow;
    background-color: #9966cc;
}

/* overrides style of weaker class if is not declared anything*/
.hotel-searchresults-item .hotel-searchresults-item__details-btn:hover {
    background-color: #d6c6e6;
}

.hotel-searchresults-item .hotel-searchresults-item__details-btn:active {
    box-shadow: inset rebeccapurple 1px 1px 2px 0;
}

.rate {
    display: block;
    height: 32px;
    width: 32px;
    background: url("../img/star_full_32.png");
    background-repeat: repeat-x;
}

.rate.rate_empty {
    background: url("../img/star_empty_32.png");
}

.rate.rate_1 {
    width: 32px;
}

.rate.rate_2 {
    width: 64px;
}

.rate.rate_3 {
    width: 96px;
}

.rate.rate_4 {
    width: 128px;
}

.rate.rate_5 {
    width: 160px;
}