body {
    position: relative;
}

.template-collection {
    display: none;
}

.button {
    display: block;
    padding: 3px 5px;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
    box-shadow: rebeccapurple 1px 1px 2px 0;
    background-color: snow;
    font-family: Arial;
    font-size: 18px;
    color: rebeccapurple;
    text-decoration: none;
    outline: none;
}

.button.button_inverted {
    color: snow;
    background-color: #9966cc;
}

.button:hover {
    background-color: #d6c6e6;
}

.button:active {
    box-shadow: inset rebeccapurple 1px 1px 2px 0;
}

.field {
    padding: 3px 2px;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
    box-shadow: inset rebeccapurple -1px -1px 2px 0px;
    font-size: 18px;
    color: rebeccapurple;
}

.section-border {
    display: block;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    box-shadow: rebeccapurple 1px 1px 3px 0;
}

.section-wrapper {
    float: left;
    min-width: 650px;
    max-width: 45%;
    margin-left: 10px;
    box-sizing: border-box;
}

.section-wrapper.section-wrapper_clear {
    clear: both;
}

.section-wrapper:first-child {
    margin-left: 0;
}

/*create hotel*/
.create-hotel {
    margin: 0 auto 20px;
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.create-hotel .create-hotel__create-btn {
    width: 100%;
    padding: 20px 0;
}

.create-hotel .create-hotel__header{
    display: block;
    padding: 20px 0 0;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: rebeccapurple;
    text-transform: uppercase;
}

/*new hotel*/
.new-hotel__wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(214,198,230, 0.9);
}

.new-hotel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: snow;
    z-index: 999;
}

.new-hotel .new-hotel__field {
    display: block;
    width: 300px;
    font-family: Arial;
}

.new-hotel .new-hotel__field.new-hotel__field_desc {
    margin-top: 10px;
    height: 5em;
    line-height: 1.2em;
    overflow: hidden;
}

.new-hotel .new-hotel__rate {
    display: block;
    margin-top: 10px;
    overflow: hidden;
}

.new-hotel .new-hotel__rate-item {
    float: left;
}

.new-hotel .new-hotel__btn-panel {
    display: block;
    margin-top: 10px;
    overflow: hidden;
}

.new-hotel .new-hotel__button {
    float: right;
    margin-left: 10px;
}

/*hotel searchbar*/
.hotel-searchbar {
    padding: 10px 20px;
}

.hotel-searchbar .hotel-searchbar__header {
    padding: 0 0 10px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: rebeccapurple;
}

.hotel-searchbar .hotel-searchbar__field {}

.hotel-searchbar .hotel-searchbar__field.hotel-searchbar__field_star-rate {
    padding-right: 3px;
    padding-left: 10px;
    width: 50px;
    box-sizing: border-box;
    text-align: center;
}

.hotel-searchbar .hotel-searchbar__srch-btn {
    display: inline-block;
}

.hotel-searchresults {
    margin-top: 10px;
    padding: 10px 20px;
}

.hotel-searchresults .hotel-searchresults__header {
    padding: 0 0 10px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: rebeccapurple;
}

.hotel-searchresults .hotel-searchresults__collection {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.hotel-searchresults-item {
    display: block;
    overflow: hidden;

    margin-top: 15px;
    /*height: 100px;*/
    padding: 10px 20px;
    box-shadow: rebeccapurple 1px 1px 4px 0;
}

.hotel-searchresults-item:first-child {
    margin-top: 0;
}

.hotel-searchresults-item .hotel-searchresults-item__name {
    display: block;
    margin: 0;
    border-bottom: 1px solid rebeccapurple;
    padding: 0 0 5px 10px;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: rebeccapurple
}

.hotel-searchresults-item .hotel-searchresults-item__desc {
    display: block;
    min-height: 1.2em;
    max-height: 2.4em;
    line-height: 1.2em;
    margin: 10px 0;
    box-sizing: content-box;
    overflow: hidden;
    color: dimgrey;
}

.hotel-searchresults-item .hotel-searchresults-item__rate {
    float: left;
}

.hotel-searchresults-item .hotel-searchresults-item__details-btn {
    float: right;
}

/*hotel-card*/
.hotel-card {
    min-height: 290px;
}

.hotel-card .hotel-card-wrapper {
    box-sizing: border-box;
    min-height: inherit;
    padding: 10px 20px;
    background: linear-gradient(to bottom, snow, #d9c9e9 30px, snow, #d6c6e6);
}

.hotel-card .hotel-card__no-hotel {
    min-height: inherit;
    background: #ffb382 url('../img/no_hotel.jpg')  50% 0/contain no-repeat;
}

.hotel-card .hotel-card__rate {
    float: left;
}

.hotel-card .hotel-card__id {
    float: right;
    text-align: right;
    text-decoration: underline;
    color: darkgrey;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 0 0;
    height: 32px;
    box-sizing: border-box;
}

.hotel-card .hotel-card__name {
    display: block;
    padding: 10px 0 0;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: dimgrey;
    clear: both;
}

.hotel-card .hotel-card__desc {
    display: block;
    min-height: 1.2em;
    line-height: 1.2em;
    padding: 40px 0;
    box-sizing: content-box;
    color: dimgrey;
}


/* rate */
.rate {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    background: url("../img/star_full_32.png");
    background-repeat: repeat-x;
}

.rate.rate_empty {
    background: url("../img/star_empty_32.png");
}

.rate.rate_1 {
    width: 32px;
}

.rate.rate_2 {
    width: 64px;
}

.rate.rate_3 {
    width: 96px;
}

.rate.rate_4 {
    width: 128px;
}

.rate.rate_5 {
    width: 160px;
}

.rate.rate_active:hover::after {
    content: '';
    position: absolute;
    background: url("../img/star_full_32.png");
    width: 32px;
    height: 32px;
}

.rate.rate_active:first-child:hover::after {
    content: '';
    width: 32px;
}

.rate.rate_active:nth-child(2):hover::after {
    content: '';
    left: -32px;
    width: 64px;
}

.rate.rate_active:nth-child(3):hover::after {
    content: '';
    left: -64px;
    width: 96px;
}

.rate.rate_active:nth-child(4):hover::after {
    content: '';
    left: -96px;
    width: 128px;
}

.rate.rate_active:nth-child(5):hover::after {
    content: '';
    left: -128px;
    width: 160px;
}
